.span {
	color: "#0099CC";
}

.Body > .image {
	height: 100%;
	width: 100%;
	margin-bottom: 20px;
}

.Body > .Identity > .section > .paragraph > .span1 {
	color: #808080;
}
.Body > .License > .section > .paragraph > .span1 {
	color: #808080;
}
