.span {
	color: "#0099CC";
}

.Body > .image {
	height: 100%;
	width: 100%;
	margin-bottom: 20px;
}

.Body > .Identity > .section > .paragraph > .span1 {
	color: #808080;
}
.Body > .License > .section > .paragraph > .span1 {
	color: #808080;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0.5rem;
	font-weight: 700;
	line-height: 1.2;
	font-family: 'Quicksand', sans-serif;
}

h1 {
	font-family: 'Quicksand', sans-serif;
}
